.description, .rel-links{
    width: 50%;
    margin: 20px;
}

.v-left{
    width: 20%;
    margin: 20px;
}
.video{
    width: 80%;
    margin: 20px;
}
.card-body .nav-link{
    background-color: #884dfd;
    margin: 5px;
    border-radius: 20px;
    /* background-color:  #9E9FC6; */
    /* color: black !important; */

}

.card-body  .nav-link.active {
    background-color: #6f2cf6;
    font-weight: 600;
    color: white !important;
    scale: 1.1;
    /* height: 50px; */

}